<!DOCTYPE html>
<html>
<head>
  <title>Schockolade Tante : Bangalore's finest handcrafted Chocolates.</title>
  <%= stylesheet_link_tag    "application" %>  
  <%= csrf_meta_tags %>
  <meta charset="utf-8" />
</head>
<body>

<header>
  <a href="<%=root_path%>"><h1 class='name'>Schokolade Tante</h1></a>
  <h4>Bangalore's finest handcrafted Chocolates.</h4>
  <nav>      
    <a href="#">about us</a>
    <a href="#">contact & map</a>
  </nav>
</header>  
<section id="content">
  <%= yield %>
</section>

<footer>
  Created by Sudhir Jonathan. &copy; All rights reserved.
</footer>
  
<%= javascript_include_tag "application" %>  
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Leckerli+One', 'Yanone+Kaffeesatz', 'News+Cycle', 'Nobile:400,700,i' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = '//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); 
</script>  
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
