<!DOCTYPE html>
<html>
<head>
  <title>Schockolade Tante : Bangalore's finest handcrafted Chocolates.</title>
  <%= stylesheet_link_tag    "application" %>  
  <%= csrf_meta_tags %>
  <meta charset="utf-8" />
</head>
<body>

<header>
  <a href="<%=root_path%>"><h1 class='name'>Schokolade Tante</h1></a>
  <h4>Bangalore's finest handcrafted Chocolates.</h4>
  <nav>      
    <a href="#">about us</a>
    <a href="#">contact & map</a>
  </nav>
</header>  
<section id="content">
  <%= yield %>
</section>

<footer>
  Created by Sudhir Jonathan. &copy; All rights reserved.
</footer>
  
<%= javascript_include_tag "application" %>  
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Leckerli+One' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = '//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); 
</script>  
</body>
</html>
