<%= form_for(@chocolate) do |f| %>
  <% if @chocolate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chocolate.errors.count, "error") %> prohibited this chocolate from being saved:</h2>

      <ul>
      <% @chocolate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
